@model blogEngine.DataAccess.BlogCommentViewModel


<div>

<table cellspacing="10" style="border-collapse: separate;
    border-spacing: 15px;">
     <tr>
         <th>Id</th>
         <th>Title</th>
         <th>Author</th>
         <th>Content</th>
         <th>Created at</th>
         <th></th>
         <th></th>
      
     </tr> 
     <tr>
        <td> @Model.Blog.Id</td>
        <td> @Model.Blog.Title </td>
        <td> @Model.Author.Name</td> 
        <td> @Model.Blog.Content</td>
        <td> @Model.Blog.CreatedAt</td>
        <td><a asp-action="Edit"> Edit </a></td>
        <td><form asp-controller="Blog" asp-action="Delete">
                <button type="submit" onclick="return confirm('Are you sure?')"> Delete </button>
            </form>
        </td>
  
    </tr>
</table>

</div>
<!-- COMMENTS FORM -->
<div>
    <h1>Comments</h1>
    
    <form asp-controller="Blog" asp-action="CreateComment">

    <select name="Author_id">
        
        @foreach (var author in @Model.AuthorList.Authors)
        {
            <option value="@author.Id">@author.Name</option>
        }
    </select>

    <label >Content</label>
    <textarea  name="Content"> </textarea>
    
    <input type="hidden"  name="id" value="@Model.Blog.Id">

    <input type="submit" value="Submit">

    </form>
</div>
<!-- COMMENTS LIST -->
<div>
     <table cellspacing="10" style="border-collapse: separate;
    border-spacing: 15px;">
     <tr>  
         <th>Author</th>
         <th>Content</th>
         <th>Created at</th>
     </tr> 
@foreach (var comment in @Model.Comments.Comments){
    <tr> 
        <td>@comment.Author.Name</td>
        <td>@comment.Content</td>
        <td>@comment.CreatedAt</td>

    </tr>
}
    </table>  
</div>