@model blogEngine.DataAccess.BlogCommentViewModel


<div>

<table cellspacing="10" style="border-collapse: separate;
    border-spacing: 15px;">
     <tr>
         <th>Id</th>
         <th>Title</th>
         <th>Author</th>
         <th>Content</th>
         <th>Created at</th>
         <th></th>
         <th></th>
      
     </tr> 
     <tr>
        <td> @Model.Blog.Id</td>
        <td> @Model.Blog.Title </td>
        <td> @Model.Blog.Author</td>
        <td> @Model.Blog.Content</td>
        <td> @Model.Blog.CreatedAt</td>
        <td><a asp-action="Edit" asp-route-id="@Model.Blog.Id"> Edit </a></td>
        <td><a asp-action="Delete" asp-route-id="@Model.Blog.Id"> Delete </a></td>
  
    </tr>
</table>

</div>
<!-- COMMENTS FORM -->
<div>
    <h1>Comments</h1>
    
    <form asp-controller="Blog" asp-action="CreateComment">

    <label >Author</label>
    <input  type="text" name="Author" >

    <label >Content</label>
    <textarea  name="Content"> </textarea>
    
    <input type="hidden"  name="id" value="@Model.Blog.Id">

    <input type="submit" value="Submit">

    </form>
</div>
<!-- COMMENTS LIST -->
<div>
     <table cellspacing="10" style="border-collapse: separate;
    border-spacing: 15px;">
     <tr>
         <th>Author</th>
         <th>Content</th>
         <th>Created at</th>
     </tr> 
@foreach (var comment in @Model.Comments.Comments){
    <tr> 
        <td>@comment.Author</td>
        <td>@comment.Content</td>
        <td>@comment.CreatedAt</td>

    </tr>
}
    </table>  
</div>