@model blogEngine.DataAccess.BlogPost



<table cellspacing="10" style="border-collapse: separate;
    border-spacing: 15px;">
     <tr>
            <th>Id</th>
         <th>Title</th>
         <th>Author</th>
         <th>Content</th>
         <th>Created at</th>
      
     </tr> 
     <tr>
           <td> @Model.Id</td>
    <td> @Model.Title </td>
    <td> @Model.Author</td>
    <td> @Model.Content</td>
    <td> @Model.CreatedAt</td>
  
    </tr>
</table>